:root{
    --success: green;
    --error: red;
}

*{
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Assets/Images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    place-content: center;
    height: 100vh;
}

.contenedor {
    background-color: rgba(255, 255, 255, .2);
    width: 350px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 6px 10px 29px 0px rgba(0,0,0,0.61);
    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow: auto;
    backdrop-filter: blur(130px);
    -webkit-backdrop-filter: blur(25px);
    position: relative;
}

h1{
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    color: #474747;
}

.contForm > div{
    margin-bottom: 20px;
    position: relative;
}

.utilierias{
    position: absolute;
    right: 5px;
    top: -5px;
    display: flex;
    gap: 5px;
}

.utilierias button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
    cursor: pointer;
}

.utilierias button:nth-child(1){
    background-color: transparent;
    border: 1px solid #ff0000;
    color: #ff0000;
    display: none;
    
}

.utilierias button:nth-child(2){
    background-color: transparent;
    border: 1px solid #176B87;
    color: #176B87;
    display: none;
}

label{
    font-weight: bold;
    margin: 8px 3px;
    display: block;
    color: #474747;
}

.input{
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-indent: 10px;
}

.input::placeholder{
    color: rgb(73, 72, 72);
}

.input:focus {
    border: 2px solid #0f2d5980; 
    outline: none; 
}

.btnContent{
    display: flex;
    gap: 5px;
}

.btn{
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-weight: bold;
    border-radius: 10px;
}

/* Boton CURP */
.btn:nth-child(1){
    background: #213555;
    border: 1px solid #213555; 
}
.btn:nth-child(1):hover{
    border: 1px solid #213555;
    color: #213555;
    background-color: transparent;
}
.btn:nth-child(1):active{
    background-color: #213555;
    color: white;
}

/* Boton RFC */
.btn:nth-child(2){
    background: #4F709C;
    border: 1px solid #4F709C; 
}
.btn:nth-child(2):hover{
    border: 1px solid #4F709C;
    color: #4F709C;
    background-color: transparent;
}
.btn:nth-child(2):active{
    background-color:#5475ad;
    color: white;
}

.msg{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.msgErr{
    border: 2px solid var(--error);   
}
.msgErr span {
    color: var(--error);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.msgSucc{
    border: 2px solid var(--success);
}
.msgSucc span{
    color: var(--success);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

#contInfo{
    background-color: rgba(0,0,0,0.61);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.info{
    background-color: white;
    height: auto;
    width: 30%;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
#close{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#infoCURP,
#infoRFC{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}

#infoCURP,
#infoRFC,
#errCURP,
#errRFC{
    display: none;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
}

#errCURP p,
#errRFC p{
    color: red;
    margin-top: 5px;
}
#msgIgual{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}